
<div class="wd-coktail-start bg-[#CFE9FF]">
  <div class="curve-bg">
      <img class="w-full h-full" src="{{ section.settings.image_1 | image_url }}" alt="curve bg">
  </div>
  <div class="pt-[97px] pb-[40px] md:pb-[70px]">
      <div class="wd-base-container">
          <div class="wd-coktail-product-wrapper overflow-hidden rounded-[15px] md:rounded-3xl lg:rounded-[3rem]">
              <div class="coccktail-img-wrapper relative">
                  <img src="{{ section.settings.image_2 | image_url }}" alt="coktail" class="w-full h-full object-cover" loading="lazy">
                  <!-- <div class="cocktacil-product-img">
                      <img class="w-full h-full object-cover" src="assets/Product Images-25.png" alt="product img" loading="lazy">
                  </div> -->
                  <div class="cocktail-content text-center">
                      <h2 class="wd-section-headline">{{ section.settings.heading }}</h2>
                      <p class="text-[.844375rem] leading-[1.25] mt-[7px] md:mt-[12px]">{{ section.settings.text }}</p>
                  </div>
              </div>
              <div class="cocktail-content-wrappper bg-[#F2F9FF] pb-[25px] md:pb-[40px] pt-[10px] md:pt-[15px] pl-[1.2rem]">
                  <div class="flex gap-[10px] items-center">
                      <span class="font-bold xl:text-[2.5rem] text-[1.7625rem] leading-[1] tracking-normal">{{ section.settings.tileline_heading_number }}</span>
                      <p class="font-normal not-italic xl:text-[.8rem] text-[0.608125rem] leading-[1.29] tracking-normal w-[70%]">{{ section.settings.tileline_heading }}</p>
                  </div>

                  <div class="product-timeline-wrapper mt-[17px] md:mt-[30px]">
                    {% for block in section.blocks %}
                      {% case block.type %}
                        {% when 'progress' %}
                          <div class="single-timeline relative pl-[2.3rem] pr-[2.5rem]">
                            <h3>{{ block.settings.heading }}</h3>
                            <p>{{ block.settings.text }}</p>
                                <div class="timeline-line"></div>
                          </div>
                        {% else %}
                          <p>No blocks found yet.</p>
                      {% endcase %}
                    {% endfor %}
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>


{% stylesheet %}
  .single-timeline h3{
      font-family: var(--primary-font)!important;
  }
{% endstylesheet %}


{% schema %}
{
  "name": "t:names.jello_cortisol_coktail_wd",
  "tag": "section",
  "disabled_on": {
    "groups": ["header"]
  },
  "blocks": [
    {
      "name": "Progress",
      "type": "progress",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Progress title"
        },
        {
          "type": "textarea",
          "id": "text",
          "label": "Progress content"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": "t:content.media"
    },
    {
      "type": "image_picker",
      "id": "image_1",
      "label": "t:content.image_wd_1"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "t:content.image_wd_2"
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "textarea",
      "id": "text",
      "label": "Sub heading"
    },
    {
      "type": "header",
      "content": "Timeline"
    },
    {
      "type": "textarea",
      "id": "tileline_heading",
      "label": "heading"
    },
    {
      "type": "text",
      "id": "tileline_heading_number",
      "label": "Number"
    }
  ],
  "presets": [
    {
      "name": "t:names.jello_cortisol_coktail_wd",
      "category": "t:categories.banners",
      "settings": {
        "heading": "Jello Cortisol Cocktail",
        "text": "Während <strong>andere raten</strong>, haben wir die <strong>exakten Zutaten getestet</strong>, die dein <strong>Cortisol verringern</strong>",
        "tileline_heading_number": "4",
        "tileline_heading": "Essenzielle Zutaten die einen gesunden Cortisol-Spiegel & allgemeine hormonelle Gesundheit fördern."
      },
      "blocks": [
        {
          "type": "progress",
          "settings": {
            "heading": "KSM66-Aswagandha",
            "text": "Die klinisch bewährte Form von Ashwagandha senkt nachweislich Cortisol um bis zu 30% und reduziert Stress & Angstgefühle ohne müde zu machen."
          }
        },
        {
          "type": "progress",
          "settings": {
            "heading": "Magnesium Glycinat",
            "text": "Die bestresorbierbare Form von Magnesium entspannt dein Nervensystem und sorgt für tieferen, erholsameren Schlaf ohne Verdauungsprobleme."
          }
        },
        {
          "type": "progress",
          "settings": {
            "heading": "Vitamin D3",
            "text": "Unterstützt die Serotonin-Produktion für bessere Laune und reduziert saisonale Stimmungstiefs. Essential für hormonelle Balance."
          }
        },
        {
          "type": "progress",
          "settings": {
            "heading": "L-Theanine",
            "text": "Die entspannende Aminosäure aus grünem Tee fördert entspannte Wachheit und reduziert nervöse Unruhe ohne sedierend zu wirken."
          }
        }
      ]
    }
  ]
}
{% endschema %}